.div1 {
    height: 25%;
    width:25%;
    background-color: red;
    float: left;
}
.div2 {
    height: 25%;
    width:25%;
    background-color: black;
    float: left;
}
.div3 {
    height: 25%;
    width:25%;
    background-color: white;
    float: left;
}
.div4 {
    height: 25%;
    width:25%;
    background-color: green;
    float: left;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

button{
    width: 100%;
    left: 0;
    bottom: 10px;
    height: 50%;
}