<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="CSS/budget.css" />
    <script	src="/JS/jquery-3.3.1.min.js"></script>
</head>
<body>

<div class="table100 ver1 m-b-110">
    <div class="table100-head">
        <table>
            <thead>
            <tr class="row100 head">
                <th class="column1">Producto</th>
                <th class="column2">Cantidad</th>
                <th class="column2">Precio</th>
            </tr>
            </thead>
        </table>
    </div>
    <br>
    <div class="table100-body js-pscroll" id="productList">
        <table class="table-Budget">
            <thead>
            <tr class="row100 head">
                <th class="column1-Budget">Ejemplo producto</th>
                <th class="column2">10</th>
                <th class="column2">$ 600</th>
            </tr>
            <tr class="row100 head-Budget">
                <th class="column1-Budget">Ejemplo producto 2</th>
                <th class="column2">5</th>
                <th class="column2">$ 50</th>
            </tr>
            </thead>
        </table>

    </div>

    
</div>

</body>
</html>