<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta charset="UTF-8">
    <title>Distribuidores</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="CSS/distributor.css"/>
    <script	src="/JS/jquery-3.3.1.min.js"></script>
</head>
<body>

<br>
<br>
<br>

<div class="thumbnails">

    <div class="box">
        <a href="#" class="image fit"><img src="IMG/search.png" /></a>
        <div class="inner">
            <a href="#" class="button style2 fit" data-poptrox="youtube,800x400">Buscar</a>
        </div>
    </div>

    <div class="box">
        <a href="#" class="image fit" ><img src="IMG/new.png" alt="" /></a>
        <div class="inner">
            <button class="button fit" data-poptrox="youtube,800x400" id="addDistributor">Crear</button>
        </div>
    </div>

</div>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="column1">Nombre</th>
                            <th class="column2">Marca</th>
                            <th class="column3">Telefono</th>
                            <th class="column4">Email</th>
                            <th class="column5">Tipo de producto</th>
                            <th class="column6">Acciones</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll" id="distributorList">

                </div>
            </div>
        </div>
    </div>
</div>



<div id="distributorForm"></div>

<script src="JS/distributorJS.js"></script>
</body>
</html>